body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #e7eaf6;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db; 
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #2980b9; 
}

.activity {
  margin-top: 20px;
  font-size: 24px;
  color: #2b4353;
}